﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApplication1.Defult" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<div id="fb-root"></div>

<body>
<div id="Div1"></div>
      <script>
          window.fbAsyncInit = function () {
              FB.init({
                  appId: '191607017643334', // App ID
                  channelUrl: '//http://dateconverter.brainworks.com.np', // Channel File
                  status: true, // check login status
                  cookie: true, // enable cookies to allow the server to access the session
                  xfbml: true  // parse XFBML
              });
              FB.ui({
                  method: 'feed'
              });
          };
          // Load the SDK Asynchronously
          (function (d) {
              var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
              if (d.getElementById(id)) { return; }
              js = d.createElement('script'); js.id = id; js.async = true;
              js.src = "//connect.facebook.net/en_US/all.js";
              ref.parentNode.insertBefore(js, ref);
          } (document));
      </script>
    <form id="form1" runat="server">
    <div>
     <pre>
    
    </pre>
    </div>
    </form>
</body>
</html>
