﻿/* customized */

.container 
{
	min-height: 500px;
	margin-top: 40px;
	
}

.container p 
{
	font-size: 16px;
	font-color: black;
	
}

.title 
{
	font-size: 26px;
	color: black;
	font-family:Trebuchet MS;
	width: 500px;
	clear:both;
}



.bar1
{
	display: inline;
	font-size: 20px;
}

.bar2
{
	width: 300px;
	display: inline;
	font-size: 20px;
	float: right;
}

.inputContainer{
	height:35px;
	padding-left:0px;

}

.inputDefault {
	text-decoration: italic;
	color: #000;
}

textarea {
	width: 100px;
	height: 20px;
	border: 3px #c4cde0 solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
	font-weight: 600;
	font-size: 14px;
	resize: none;
}

select {
	width: 100px;
	height: 20px;
	border: 3px #c4cde0 solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: 600;
	font-size: 14px;
	resize: none;
}

options {
	width: 100px;
	height: 30px;
	border: 3px #c4cde0 solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: 600;
	font-size: 14px;
	resize: none;
}

.monthtext 
{
	width: 200px;
}

div.submit input {
		background: #c4cde0;
		cursor:pointer;
		height: 35px;
		border: none;
		margin-top: 20px;
		margin-left: 40px;
		font-size: 16px;
		font-weight: 600;
		   /* -- CSS3 Shadow - create a shadow around each input element -- */ 
	-webkit-box-shadow: 1px 0px 0px #aaa;
	-moz-box-shadow: 1px 0px 0px #aaa; 
	box-shadow: 1px 0px 0px #aaa;
}

.resultpg
{
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	color: black;
	margin-left: -40px;
}


.resultpg2
{
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	color: black;
	margin-top: 40px;
	margin-left: -40px;
	margin-bottom: 40px;
}

#error 
{
	font-size:16px;
	color:red;
}
#v1 
{
	margin-top: 180px;
	font-size:16px;
	color:red;
}

ol.calendar         {width:60em;margin:-50px;margin-top:30px;display:block;}
li                  {list-style:none;}
p.link              {text-align:center;display:block;}

/*
 * Day styles
 -------------------------*/
li li               {width:7em;height:7em;float:left;margin:.1em;border:1px solid #444;padding:.2em;overflow:auto;}

/*
 * Day content (UL/OL & P)
 -------------------------*/
li li p             {font-size:.7em;display:block;border-bottom:1px solid #ddd;}
li li ol            {width:auto;}
li li ul li,
li li ol li         {font-size:.7em;display:block;height:auto;width:auto;margin:0;padding:.2em 0;float:none;border:0;border-bottom:1px solid #ddd;}

li:hover 
{
    background-color: #BEBEBE;
    cursor: pointer;
}
/*
 * Holiday class
 -------------------------*/
li li.holiday       {border-color:#f00;}

/*
 * Inactive months
 -------------------------*/
li#lastmonth li,
li#nextmonth li     {background:#f5f5f5;border:1px solid #999;}

p.datetext 
{
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
    font-size: 26px;
    color: Red;
    text-decoration: none;
    border: none;
}

p.day 
{
    margin-top: 20px;
    color: black;
}

p.holiday 
{   
    margin-top: 20px;
    color: red;
    
}

.calr 
{
    margin-top: 30px;
}

.nepmonth 
{
    font-size: 24px;
    font-weight: 600;
    margin-left: 30px;
    color:Blue;
}

li.thatdate 
{
    background:yellow;border:1px solid #999;
}

.reference 
{
    color:red;
    font-size: 12px;
}